:root {
  --grheight: 12.5%;
  --grwidth: 7.69%;
  --grcolour1: #23f0c7;
  --grcolour2: #ef767a;
  --grcolour3: #214e34;
  --grcolour4: #ffffff;
  --grcolour5: #ffe347;
  --grcolour6: #6457a6;
}

* {
    box-sizing: border-box;
    margin: 0px;
    cursor: default;
  }
a {
  cursor: pointer;
}
.maintext {
    font-size: 1.5vw;
    color: black;
}
button {
  border: none;
  cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
.bodytest[data-navbar="false"] {
  background-color: black;
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
.whywebdev {
  color: var(--grcolour4);
}
.bodytest[data-navbar="true"] {
  background-color: black;
  /* overflow: hidden; */
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  position: sticky;
  grid-auto-rows: max-content;
}
.bodytestintro[data-navbar="true"] {
  background-color: var(--grcolour1);
}
.bodytestaboutme[data-navbar="true"] {
  background-color: var(--grcolour2);
  padding-bottom: 10%;
}
.bodytestwhywebdev[data-navbar="true"] {
  background-color: var(--grcolour3);
}
.bodytestprojects[data-navbar="true"] {
  background-color: var(--grcolour4);
}
.bodytestcontactme[data-navbar="true"] {
  background-color: var(--grcolour5);
}

.splashcontainer[data-navbar="false"] {
  aspect-ratio: 1.625;
  width: 90vw;
  min-width: 50vmin;
  max-width: 100vw;
  position: relative;
}
/* Style for navigation bar */
.splashcontainer[data-navbar="true"] {
  height: 10vh;
  width: 100vw;
  min-width: 50vmin;
  max-width: 100%;
  position: fixed;
  display: grid;
  grid-template-areas: "a a a a a a"; /* Need template area to stop hidden element taking up space */
  align-content: center;
  gap: 1rem;
  transition: left, top, height, width;
  transition-duration: 1000ms;
  transition-timing-function: ease-out;
  padding-left: 1vw;
  padding-right: 1vw;
}
.splashcontainer[data-navbar="true"] > .shape{
  width: 100%;
  height: 8vh;
  display: grid;
  place-items: center;
}

.splashtext {
  position: absolute;
  z-index: 2;
  font-size: 6vw;
}
#splashtextcontainer > .splashtext:nth-child(1){
  left: calc(5*var(--grwidth)); 
}
#splashtextcontainer > .splashtext:nth-child(2){
  left: calc(5*var(--grwidth)); 
  top: calc(1*var(--grheight));
}
#splashtextcontainer > .splashtext:nth-child(3){
  left: calc(5*var(--grwidth)); 
  top: calc(2*var(--grheight));
}
#splashtextcontainer > .splashtext:nth-child(4){
  left: calc(5*var(--grwidth)); 
  top: calc(3*var(--grheight));
}
.splashcontainer[data-navbar="false"] > .shape {
  height: 30%;
  width: 30%;
  transition: left, top, height, width;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  display: grid;
  place-items: center;
}

 .splashnav {
  font-size: 2vw;
  font-weight: bold;
  z-index: 3;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}
/* set colour of all navbar shapes */
.splashcontainer > .shape:nth-child(1){
  background-color: var(--grcolour1);
}
.splashcontainer > .shape:nth-child(2){
  background-color: var(--grcolour2);  
}
.splashcontainer > .shape:nth-child(3){
  background-color: var(--grcolour3);
  border-color: white;
  color: white;  
}
.splashcontainer > .shape:nth-child(4){
  background-color: var(--grcolour4);  
}
.splashcontainer > .shape:nth-child(5){
  background-color: var(--grcolour5);  
}
.splashcontainer > .shape:nth-child(6){
  background-color: var(--grcolour6);  
}
/* set colour of all splashscreen shapes and prepare for preset positions */
.splashcontainer[data-navbar="false"] > .shape:nth-child(1){
  background-color: #23f0c7;
  position: absolute;
}
.splashcontainer[data-navbar="false"] > .shape:nth-child(2){
  position: absolute;
  background-color: #ef767a;
}
.splashcontainer[data-navbar="false"] > .shape:nth-child(3){
  background-color: #214e34;
  position: absolute;
}
.splashcontainer[data-navbar="false"] > .shape:nth-child(4){
  background-color: white;  
  position: absolute;
}
.splashcontainer[data-navbar="false"] > .shape:nth-child(5){
  background-color: #ffe347;
  position: absolute;
}
.splashcontainer[data-navbar="false"] > .shape:nth-child(6){
  background-color: #6457a6;
  position: absolute; 
}
/* pre set size and positioning of each element */
.splashcontainer[data-positioning="0"][data-navbar="false"] > .shape:nth-child(1) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth));  
}
.splashcontainer[data-positioning="0"][data-navbar="false"] > .shape:nth-child(2) {
height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight)); 
}
.splashcontainer[data-positioning="0"][data-navbar="false"] > .shape:nth-child(3) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));  
}
.splashcontainer[data-positioning="0"][data-navbar="false"] > .shape:nth-child(4) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="0"][data-navbar="false"] > .shape:nth-child(5) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="0"][data-navbar="false"] > .shape:nth-child(6) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="1"][data-navbar="false"] > .shape:nth-child(1) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));  
}
.splashcontainer[data-positioning="1"][data-navbar="false"] > .shape:nth-child(2) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth)); 
}
.splashcontainer[data-positioning="1"][data-navbar="false"] > .shape:nth-child(3) {
   height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="1"][data-navbar="false"] > .shape:nth-child(4) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="1"][data-navbar="false"] > .shape:nth-child(5) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="1"][data-navbar="false"] > .shape:nth-child(6) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="2"][data-navbar="false"] > .shape:nth-child(1) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="2"][data-navbar="false"] > .shape:nth-child(2) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="2"][data-navbar="false"] > .shape:nth-child(3) {
   height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth)); 
}
.splashcontainer[data-positioning="2"][data-navbar="false"] > .shape:nth-child(4) {
  height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="2"][data-navbar="false"] > .shape:nth-child(5) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="2"][data-navbar="false"] > .shape:nth-child(6) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="3"][data-navbar="false"] > .shape:nth-child(1) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="3"][data-navbar="false"] > .shape:nth-child(2) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="3"][data-navbar="false"] > .shape:nth-child(3) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="3"][data-navbar="false"] > .shape:nth-child(4) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth)); 
}
.splashcontainer[data-positioning="3"][data-navbar="false"] > .shape:nth-child(5) {
  height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="3"][data-navbar="false"] > .shape:nth-child(6) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="4"][data-navbar="false"] > .shape:nth-child(1) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="4"][data-navbar="false"] > .shape:nth-child(2) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="4"][data-navbar="false"] > .shape:nth-child(3) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="4"][data-navbar="false"] > .shape:nth-child(4) {
   height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="4"][data-navbar="false"] > .shape:nth-child(5) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth));
}
.splashcontainer[data-positioning="4"][data-navbar="false"] > .shape:nth-child(6) {
  height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="5"][data-navbar="false"] > .shape:nth-child(1) {
  height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="5"][data-navbar="false"] > .shape:nth-child(2) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="5"][data-navbar="false"] > .shape:nth-child(3) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="5"][data-navbar="false"] > .shape:nth-child(4) {
   height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="5"][data-navbar="false"] > .shape:nth-child(5) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="5"][data-navbar="false"] > .shape:nth-child(6) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth));
}

@keyframes splashshapehover {
    
    25%{
      transform: rotate(10deg) scale(1.2);
    }
    50% {
      transform: scale(1.1);
    }
    75% {
      transform: rotate(-10deg) scale(1.2);
    }
    
}
.shape:hover {
  animation: splashshapehover 1300ms infinite;
  z-index: 1;
}
.hidden {
  display: none;
}

.maintext[data-visible="false"] {
  display: none;
}

#introcontent[data-visible="true"] {
  display: grid;
  width: 100vw;
  height: 100vh; 
  background-color: var(--grcolour1);
  padding-top: 13vh;
  padding-left: 1vw;
  padding-right: 1vw;
  justify-content: center;
}
.listofthree {
  display: block;
  text-align: center;
}

#aboutmecontent[data-visible="true"] {
  display: grid;
  width: 100vw;
  height: 100vh; 
  padding-top: 12vh;
  padding-left: 1vw;
  padding-right: 1vw;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
  gap: 20px;
  grid-template-areas: 
  'header header image image image'
  'text text image image image'
  'text text image image image'
  'text text image image image'
  'text text image image image';
  background-color: var(--grcolour2);
}
.abouttext {
  grid-area: text;
}
#meslideshow {
  grid-area: image;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: 80vh;
  width: clamp(200px, 100%, 80vw);
  scrollbar-color: black var(--grcolour2);
}
.aboutmeimg {
  object-fit: contain;
  width: 100%;
  scroll-snap-align: center;
}
#whywebdevcontent[data-visible="true"] {
  display: grid;
  width: 100vw;
  height: 100vh; 
  padding-top: 12vh; 
  padding-left: 1vw;
  padding-right: 1vw;
  grid-gap: 1vw;
  grid-template-rows: min-content;
  grid-template-areas: 
  'header1 . header2'
  'maintext . subtext'
  'maintext . subtext'
  ;
  background-color: var(--grcolour3);
  margin-bottom: 18%;
}
.whyweb0 {
  grid-area: header1;
}
.whyfac {
  grid-area: header2;
}
.whyweb1 {
  grid-area: maintext;
}
.whyweb2 {
  grid-area: subtext;
}

#projectscontent[data-visible="true"] {
  width: 100vw;
  height: 100vh; 
  padding-top: 12vh;
  padding-left: 1vw;
  padding-right: 1vw;    
  display: grid;
  grid-template-areas: 
  'header header . .'
  '. . . .'
  'project1 . screenshot screenshot'
  '. . screenshot screenshot'
  'project2 . screenshot screenshot'
  '. . screenshot screenshot'
  'project3 . screenshot screenshot'
  '. . screenshot screenshot'
  'project4 . screenshot screenshot'
  '. projecttext projecttext projecttext'
  'project5 projecttext projecttext projecttext'  
  ;
  grid-auto-rows: 6vh;
  grid-auto-columns: 22vw;
  gap: 20px;
  justify-content: center;
  background-color: var(--grcolour4);
  margin-bottom: 15%;
}

.project0 {
  grid-area: header;
}

.project1head {
  grid-area: project1;
  background-color: var(--grcolour1);
  color: black;
  font-size: 2.5vw;
  opacity: 1;
}
.project2head {
  grid-area: project2;
  background-color: var(--grcolour2);
  color: black;
  font-size: 2.5vw;
  opacity: 0.5;
}
.project3head {
  grid-area: project3;
  background-color: var(--grcolour3);
  color: white;
  font-size: 2.5vw;
  opacity: 0.5;
}
.project4head {
  grid-area: project4;
  background-color: var(--grcolour5);
  color: black;
  font-size: 2.5vw;
  opacity: 0.5;
}
.project5head {
  grid-area: project5;
  background-color: var(--grcolour6);
  color: black;
  font-size: 2.5vw;
  opacity: 0.5;
}
.projectimagecontainer {
  grid-area: screenshot;
  width: 80%;
  height: 90%;
  border: solid;
  cursor: pointer;
}
.projectimage {
  object-fit: contain;
  width: 90vw;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.projecttext {
  grid-area: projecttext;
}
.projectfooter {
  grid-area: footer;
}
#contactmecontent[data-visible="true"] {
  width: 100vw;
  height: 100vh; 
  padding-top: 12vh;
  padding-left: 1vw;
  padding-right: 1vw;
  display: grid;
  gap: 1vw;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  
  grid-template-areas: 
  '. contactform contactform'
  '. . .'
  'linkedin insta github';
  background-color: var(--grcolour5);
}
#contactmeform {
  grid-area: contactform;
}
.form {
  width: 35%;
}
input[type=number] {
  appearance: textfield;
}
#subject {
  width: 35%;
  height: 35%
}
#linkedcontact {
  grid-area: linkedin;
}
#githubcontact {
  grid-area: github;
}
#instacontact {
  grid-area: insta;
}
/* --------------------------------------------------Phone stylings-------------------------------------------------- */
@media screen and (max-device-width: 640px){
  #mobilecheck{
    display: none;
  }
  .header {
    font-size: 3rem;
  }
  .text {
    font-size: 1.3rem;
  }
  #aboutmecontent[data-visible="true"] {
    display: grid;
    width: 100vw;
    height: 100vh; 
    padding-top: 12vh;
    padding-left: 1vw;
    padding-right: 1vw;
    grid-auto-rows: min-content;
    grid-auto-columns: 1fr;
    gap: 20px;
    grid-template-areas: 
    'header'
    'text'
    'image'
    ;
    background-color: var(--grcolour2);
    margin-bottom: 18%;
  }
  .aboutmeheader {
    grid-area: header;
  }
  .abouttext {
    grid-area: text;
  }
  #meslideshow {
    grid-area: image;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    height: 40vh;
    width: clamp(200px, 100%, 80vw);
    scrollbar-color: black var(--grcolour2);
    padding-left: 15%;
    padding-bottom: 10vh;
  }
  .aboutmeimg {
    /* width: clamp(200px, 100%, 80vw); */
    object-fit: contain;
    width: 100%;
    scroll-snap-align: center;
  }
  /* why web dev page styling */
  #whywebdevcontent[data-visible="true"] {
    display: grid;
    width: 100vw;
    height: 300vh; 
    padding-top: 12vh; 
    padding-left: 1vw;
    padding-right: 1vw;
    grid-gap: 1vw; 
    grid-template: 
    '. header1 .' 
    '. maintext .'
    '. header2 .'
    '. subtext .'
    ;
    background-color: var(--grcolour3);
    margin-bottom: 50%;
  }
  .whyweb0 {
    grid-area: header1;
    text-align: center;
  }
  .whyfac {
    grid-area: header2;
  }
  .whyweb1 {
    grid-area: maintext;
  }
  .whyweb2 {
    grid-area: subtext;
  }
  /* project page styling */
  #projectscontent[data-visible="true"] {
    width: 100vw;
    height: fit-content; 
    padding-top: 12vh;
    padding-left: 1vw;
    padding-right: 1vw;    
    display: grid;
    grid-template-rows: min-content;
    grid-template-areas: 
    'header header header header'
    'project1 screenshot screenshot screenshot'
    'project2 screenshot screenshot screenshot'
    'project3 screenshot screenshot screenshot'
    'project4 screenshot screenshot screenshot'
    'project5 projecttext projecttext projecttext'
    '. projecttext projecttext projecttext'
    '. . footer footer'
    ;
    grid-auto-rows: 6vh;
    grid-auto-columns: 22vw;
    gap: 20px;
    justify-content: center;
    background-color: var(--grcolour4);
    padding-bottom: 150%;
  }
  
  .project0 {
    grid-area: header;
    
  }
  
  .project1head {
    grid-area: project1;
    background-color: var(--grcolour1);
    color: black;
    font-size: 2.5vw;
    opacity: 1;
    position: sticky;
  }
  .project2head {
    grid-area: project2;
    background-color: var(--grcolour2);
    color: black;
    font-size: 2.5vw;
    opacity: 0.5;
    position: sticky;
  }
  .project3head {
    grid-area: project3;
    background-color: var(--grcolour3);
    color: white;
    font-size: 2.5vw;
    opacity: 0.5;
    position: sticky;
  }
  .project4head {
    grid-area: project4;
    background-color: var(--grcolour5);
    color: black;
    font-size: 2.5vw;
    opacity: 0.5;
    position: sticky;
  }
  .project5head {
    grid-area: project5;
    background-color: var(--grcolour6);
    color: black;
    font-size: 2.5vw;
    opacity: 0.5;
    position: sticky;
  }
  .projectimagecontainer {
    grid-area: screenshot;
    width: 100%;
    height: fit-content;
  }
  .projectimage {
    object-fit: contain;
    width: 90vw;
    max-width: 100%;
    max-height: 100%;
  }
  .projecttext {
    grid-area: projecttext;
  }
  .projectfooter {
    grid-area: footer;
  }
  #contactmecontent[data-visible="true"] {
    width: 100vw;
    height: 100vh; 
    padding-top: 12vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: grid;
    gap: 1vw;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
   
    grid-template-areas: 
    'contactform contactform contactform'
    'linkedin insta github';
    background-color: var(--grcolour5);
  }
  #contactmeform {
    grid-area: contactform;
    padding-left: 15%;
  }
  .form {
    width: 80%;
  }
  input[type=number] {
    appearance: textfield;
  }
  #subject {
    width: 80%;
    height: 50%
  }
  #linkedcontact {
    grid-area: linkedin;
  }
  #githubcontact {
    grid-area: github;
  }
  #instacontact {
    grid-area: insta;
  }
  .contactfoot {
    padding-top: 40vh;
  }
}