:root {
  --grheight: 12.5%;
  --grwidth: 7.69%
}

* {
    box-sizing: border-box;
    margin: 0px;
    cursor: default;
  }

  html {
    scroll-behavior: smooth;
}
body {
  background-color: black;
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
.splashcontainer {
  aspect-ratio: 1.625;
  width: 90vw;
  min-width: 50vmin;
  max-width: 100vw;
  position: relative;
 
}
.shape {
  height: 30%;
  width: 30%;
  transition: left, top, height, width;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.splashtext {
  position: absolute;
  z-index: 2;
  /* font-size: 4.5rem; */
  font-size: 7vw;
}
#splashtextcontainer > .splashtext:nth-child(1){
  /* left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight)); */
}
#splashtextcontainer > .splashtext:nth-child(2){
  /* left: calc(4*var(--grwidth)); */
  top: calc(1*var(--grheight));
}
#splashtextcontainer > .splashtext:nth-child(3){
  /* left: calc(4*var(--grwidth)); */
  top: calc(2*var(--grheight));
}
#splashtextcontainer > .splashtext:nth-child(4){
  /* left: calc(4*var(--grwidth)); */
  top: calc(3*var(--grheight));
}
.splashcontainer > .shape:nth-child(1){
  background-color: #23f0c7;
  z-index: 1;
  position: absolute;
}
.splashcontainer > .shape:nth-child(2){
  position: absolute;
  background-color: #ef767a;
  z-index: 1;
}
.splashcontainer > .shape:nth-child(3){
  background-color: #214e34;
  position: absolute;
  z-index: 1;
}
.splashcontainer > .shape:nth-child(4){
  background-color: white;  
  position: absolute;
  z-index: 1;
}
.splashcontainer > .shape:nth-child(5){
  background-color: #ffe347;
  position: absolute;
  z-index: 1;
}
.splashcontainer > .shape:nth-child(6){
  background-color: #6457a6;
  position: absolute;
  z-index: 1; 
}

.splashcontainer[data-positioning="0"] > .shape:nth-child(1) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth));  
}
.splashcontainer[data-positioning="0"] > .shape:nth-child(2) {
  height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight)); 
}
.splashcontainer[data-positioning="0"] > .shape:nth-child(3) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));  
}
.splashcontainer[data-positioning="0"] > .shape:nth-child(4) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="0"] > .shape:nth-child(5) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="0"] > .shape:nth-child(6) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="1"] > .shape:nth-child(1) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));  
}
.splashcontainer[data-positioning="1"] > .shape:nth-child(2) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth)); 
}
.splashcontainer[data-positioning="1"] > .shape:nth-child(3) {
   height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="1"] > .shape:nth-child(4) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="1"] > .shape:nth-child(5) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="1"] > .shape:nth-child(6) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="2"] > .shape:nth-child(1) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="2"] > .shape:nth-child(2) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="2"] > .shape:nth-child(3) {
   height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth)); 
}
.splashcontainer[data-positioning="2"] > .shape:nth-child(4) {
  height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="2"] > .shape:nth-child(5) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="2"] > .shape:nth-child(6) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="3"] > .shape:nth-child(1) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="3"] > .shape:nth-child(2) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="3"] > .shape:nth-child(3) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="3"] > .shape:nth-child(4) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth)); 
}
.splashcontainer[data-positioning="3"] > .shape:nth-child(5) {
  height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="3"] > .shape:nth-child(6) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="4"] > .shape:nth-child(1) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="4"] > .shape:nth-child(2) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="4"] > .shape:nth-child(3) {
  height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="4"] > .shape:nth-child(4) {
   height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="4"] > .shape:nth-child(5) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth));
}
.splashcontainer[data-positioning="4"] > .shape:nth-child(6) {
  height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="5"] > .shape:nth-child(1) {
  height: calc(5*var(--grheight));
  width: calc(5*var(--grwidth));
  top: calc(3*var(--grheight));
}
.splashcontainer[data-positioning="5"] > .shape:nth-child(2) {
  height: calc(3*var(--grheight));
  width: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="5"] > .shape:nth-child(3) {
  height: calc(2*var(--grheight));
  width: calc(2*var(--grwidth));  
  left: calc(3*var(--grwidth));
}
.splashcontainer[data-positioning="5"] > .shape:nth-child(4) {
   height: var(--grheight);
  width: var(--grwidth); 
  left: calc(4*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="5"] > .shape:nth-child(5) {
  height: var(--grheight);
  width: var(--grwidth);
  left: calc(3*var(--grwidth));
  top: calc(2*var(--grheight));
}
.splashcontainer[data-positioning="5"] > .shape:nth-child(6) {
  height: calc(8*var(--grheight));
  width: calc(8*var(--grwidth));
  left: calc(5*var(--grwidth));
}

main {
  display: none;
}
